@model List<Course>

@section Header {
    @await Html.PartialAsync("_Header")
}

<div class="row align-items-stretch">
    @foreach (var course in Model)
    {
        @if (course.isActive && course.isHome){
             <div class="col-3 mb-4">
            <div class="card h-100">
                <img src="~/img/@course.Image" class="card-img-top" alt="">
                <div class="card-body d-flex flex-column">

                    <h5 class="card-title">@course.Title</h5>

                    <p class="card-text">
                        @course.Description
                    </p>

                    <a class="btn btn-primary mt-auto"
                       asp-controller="Course"
                       asp-action="Details"
                       asp-route-id="@course.Id">
                        Details
                    </a>

                </div>
            </div>
        </div>

        }
       
    }
</div>
